body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

div{
  margin: 0;
  padding: 0;
}

.container{
  border: 1px solid #dfdfdf;
  border-top: none;
  float: left;
  width: 50%;
  padding: 0 0 20px 20px;
}

h1{
  margin: 0;
  padding: 10px 0;
}

.sidebar{
  width: 140px;
  border-bottom: 1px solid #dfdfdf;
  font-size: 12px;
  height: 100%;
  float: left;
}

.logout-button{
  display: block;
  padding: 6px 0 6px 12px;
  color: #4040ff;
}

.view-button:hover,
.logout-button:hover{
  background: #4040ff;
  color: #ffffff;
}

.view-button{
  display: block;
  padding: 6px 0 6px 12px;
  color: #4040ff;
  border-top: 1px solid #dfdfdf;
}

.view-button.active{
  text-decoration: underline;
}

.sidebar span{
  display: block;
  padding: 6px 12px;
  border-top: 1px solid #dfdfdf;
}

.sidebar span.divider{
  color: #808080;
}

.sidebar span.user{
  color: #40af40;
}

.sidebar span.user.inactive{
  color: #808080;
  background: #efefef;
}


#chat-log, #input{
  font-family: monospace;
  font-size: 14px;
  width: 90%;
  min-width: 300px;
}

#input{
  height: 80px;
  background: #ffffff;
  border: 4px solid #bfbfbf;
  padding: 10px;
}

#chat-log{
  background: #f8f8f8;
  height: 260px;
  overflow-y: scroll;
  border: none;
  border-top: 1px solid #808080;
  border-left: 4px solid #bfbfbf;
  border-right: 4px solid #bfbfbf;
  padding-right: 20px;
}

#controls{
  margin: -1px 0 0 0;
  padding: 0;
}

#send{
  padding: 8px 16px;
  background: #dfdfdf;
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid #6060a0;
}

#send:hover{
  background: #4040ff;
  color: #ffffff;
  border: 1px solid #4040ff;
}

.message{
  padding: 2px 0 2px 100px;
  border-top: 1px solid #efefef;
  position: relative;
}

.author{
  margin: 0 0 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  padding: 2px 0 0 5px;
  font-weight: bold;
}

.new-author{
  border-top: 4px solid #efefef;
}

.clearfix{
  clear: both;
}

.alert-error{
  background: #ffffdf;
  border: 1px solid #ffff20;
  padding: 10px;
}

.hide{
  display: none;
}

.post-new-message form{
  margin-bottom: 20px;
}

.post-new-message button{
  margin-top: 10px;
}

#post-input{
  width: 690px;
}

.bulletin-meta{
  background: #dfdfdf;
  position: relative;
  padding: 5px;
  color: #606060;
}

.bulletin-author{
  font-weight: bold;
  color: #000000;
}

.bulletin-message{
  padding: 10px 10px 10px 8px;
  margin-bottom: 20px;
  border-left: 2px solid #dfdfdf;
  background: #efefff;
  font-family: monospace;
  font-size: 12px;
  color: #202020;
}

.delete-button{
  position: absolute;
  top: 5px;
  right: 5px;
}
